.Slideimg{
    height: 60vh;
}
 .Slideimg img {
width: 100%;
height: 100%;

}
.caption{
    background-color: rgba(255, 255, 255, 0.776);
    border-top: 4px solid var(--main-background-color);
}

.carousel-indicators button.active {
    background-color: var(--main-background-color) !important;
    
}

.carousel-indicators [data-bs-target] {
    
    width: 10px;
    height: 10px;
    background-color: white !important;
    border-radius: 50%;
    border: 1px solid var(--main-background-color);
    
}
